In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from bs4 import BeautifulSoup
import requests
import time 
#importing all libraries

In [135]:
driver=webdriver.Chrome("G:\\annaconda\\ankit\\chromedriver.exe")
#opening the driver

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
#sending the link

In [4]:
title=driver.find_elements_by_tag_name("tbody")
p=title[0]

In [5]:
rank=[]
r=p.find_elements_by_xpath("tr/td[1]")
for i in r:
    if i.text is None :
        rank.append("--") 
    else:
        rank.append(i.text.replace('\n'," "))

#scrapping the rank

In [6]:
Video=[]
n=p.find_elements_by_xpath("tr/td[2]/a")
for i in n:
    if i.text is None :
        Video.append("--") 
    else:
        Video.append(i.text.replace('\n'," "))   
#scrapping video name

In [7]:
Artist=[]
u=p.find_elements_by_xpath("tr/td[3]")
for i in u:
    if i.text is None :
        Artist.append("--") 
    else:
        Artist.append(i.text.replace('\n'," "))   
#scrapping youtuber name

In [8]:
views=[]
v=p.find_elements_by_xpath("tr/td[4]")
for i in v:
    if i.text is None :
        views.append("--") 
    else:
        views.append(i.text.replace('\n'," "))   
len(views)
#scrapping views on yt

0

In [9]:
upload_date=[]
ud=p.find_elements_by_xpath("tr/td[5]")
for i in ud:
    if i.text is None :
        upload_date.append("--") 
    else:
        upload_date.append(i.text.replace('\n'," "))   
len(upload_date)
#scrapping the upload date

0

In [10]:
data=list(zip(rank,Video,Artist,upload_date,views))
#saving in list data

In [11]:
df=pd.DataFrame(data,columns=["Rank","Name","Uploader","Upload_date","Views(in Billion)"])
#creating a df

In [12]:
df.set_index(['Rank'], inplace = True) 
#setting the index as rank

In [13]:
df

Empty DataFrame
Columns: [Name, Uploader, Upload_date, Views(in Billion)]
Index: []

# 2. Scrape the details team India’s international fixtures from bcci.tv.¶

In [14]:
driver.get("https://www.bcci.tv/")

In [16]:
serach=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a")
serach.click()

In [18]:
match=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")

In [19]:
Match_date=[]
Match_name=[]
Stadium_location=[]
stadium=[]
Match_title=[]

In [20]:
for i in match:
    match=i.text
    Match_name.append(match)
Match=Match_name

In [21]:
Location=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")

In [22]:
for i in Location:
    Location=i.text
    Stadium_location.append(Location)
location=Stadium_location

In [23]:
Date=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")

In [24]:
for i in Date:
    Date=i.text
    Match_date.append(Date)
date=Match_date

In [25]:
Stadium=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']")

In [26]:
for i in Stadium:
    Stadium=i.text
    stadium.append(Stadium)
Place=stadium

In [27]:
Title=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")

In [28]:
for i in Title:
    Title=i.text
    Match_title.append(Title)
title=Match_title

In [29]:
data=list(zip(title,location,Match,date,Place))

In [30]:
import pandas as pd
df=pd.DataFrame(data,columns=["Tittle","Match","Type","Date","Place"])

In [31]:
df

,Tittle,Match,Type,Date,Place
0,1st T20I,INDIA V ENGLAND 2021,1st T20I,Friday 12 March 19:00 IST,"1st T20I Narendra Modi Stadium, Ahmedabad"
1,2nd T20I,INDIA V ENGLAND 2021,2nd T20I,Sunday 14 March 19:00 IST,"2nd T20I Narendra Modi Stadium, Ahmedabad"
2,3rd T20I,INDIA V ENGLAND 2021,3rd T20I,Tuesday 16 March 19:00 IST,"3rd T20I Narendra Modi Stadium, Ahmedabad"
3,4th T20I,INDIA V ENGLAND 2021,4th T20I,Thursday 18 March 19:00 IST,"4th T20I Narendra Modi Stadium, Ahmedabad"
4,5th T20I,INDIA V ENGLAND 2021,5th T20I,Saturday 20 March 19:00 IST,"5th T20I Narendra Modi Stadium, Ahmedabad"
5,1st ODI,INDIA V ENGLAND 2021,1st ODI,Tuesday 23 March 13:30 IST,1st ODI Maharashtra Cricket Association Stadiu...
6,2nd ODI,INDIA V ENGLAND 2021,2nd ODI,Friday 26 March 13:30 IST,2nd ODI Maharashtra Cricket Association Stadiu...
7,3rd ODI,INDIA V ENGLAND 2021,3rd ODI,Sunday 28 March 13:30 IST,3rd ODI Maharashtra Cricket Association Stadiu...
8,1st Test,ENGLAND V INDIA 2021,1st Test,Wednesday 4 August 15:30 IST,"1st Test Trent Bridge, Nottingham"
9,2nd Test,ENGLAND V INDIA 2021,2nd Test,Thursday 12 August 15:30 IST,"2nd Test Lord's, London"
10,3rd Test,ENGLAND V INDIA 2021,3rd Test,Wednesday 25 August 15:30 IST,"3rd Test Headingley, Leeds"
11,4th Test,ENGLAND V INDIA 2021,4th Test,Thursday 2 September 15:30 IST,"4th Test The Oval, London"
12,5th Test,ENGLAND V INDIA 2021,5th Test,Friday 10 September 15:30 IST,"5th Test Old Trafford, Manchester"

In [32]:
driver.get("https://www.guru99.com/")

In [33]:
serach=driver.find_element_by_xpath('//*[@id="java_technologies"]/li[3]/a')
serach.click()

In [35]:
sel1=driver.find_elements_by_xpath("//*[@id='g-mainbar']/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]")
sel1[0].click()

In [36]:
title=driver.find_elements_by_xpath("//table[@class='table table-striped']")
p_=title[0]

In [37]:
k=p_.find_elements_by_tag_name("tr")
len(k)

42

In [38]:
Exception_name=[]
for i in range(1,42):
    n=p_.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr['+str(i)']/td[1]")
    p=n[i]
    Exception_name.append(p.text)

In [39]:
Desc=[]
for i in range(1,42):
    d=p_.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr['+str(i)']/td[2]")
    de=d[i]
    Desc.append(de.text)

In [40]:
data=list(zip(Exception_name,Desc))
df=pd.DataFrame(data,columns=["Exception_Name","Description"])

In [41]:

df

,Exception_Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.¶

In [42]:

driver.get("http://statisticstimes.com/")

In [43]:
eco=driver.find_elements_by_xpath("//*[@id='top']/div[2]/div[2]/button/i")
eco[0].click()

In [44]:
p=eco[0]
kk=p.find_elements_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
kk[0].click()

In [45]:
g=driver.find_elements_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
g[0].click()

In [46]:

gd=driver.find_elements_by_xpath("//*[@id='main']/div[5]")
s=gd[0]

In [47]:
st=s.find_elements_by_tag_name("tr")

In [48]:

rank=[]
for i in range(0,33):
    r=s.find_elements_by_xpath("//*[@id='table_id']/tbody/tr['str(i)']/td[1]")
    k=r[i]
    rank.append(k.text)

In [49]:

state=[]
for i in range(0,33):
    r=s.find_elements_by_xpath("//*[@id='table_id']/tbody/tr['str(i)']/td[2]")
    k=r[i]
    state.append(k.text)

In [50]:
gsdp_19_20=[]
for i in range(0,33):
    r=s.find_elements_by_xpath("//*[@id='table_id']/tbody/tr['str(i)']/td[3]")
    k=r[i]
    if k.text is None:
        gsdp_19_20.append("--")
    else:
        gsdp_19_20.append(k.text)

In [51]:
gsdp_18_19=[]
for i in range(0,33):
    r=s.find_elements_by_xpath("//*[@id='table_id']/tbody/tr['str(i)']/td[4]")
    k=r[i]
    if k.text is None:
        gsdp_18_19.append("--")
    else:
        gsdp_18_19.append(k.text)

In [52]:

share=[]
for i in range(0,33):
    r=s.find_elements_by_xpath("//*[@id='table_id']/tbody/tr['str(i)']/td[5]")
    k=r[i]
    if k.text is None:
        share.append("--")
    else:
        share.append(k.text)

In [53]:
GDP=[]
for i in range(0,33):
    r=s.find_elements_by_xpath("//*[@id='table_id']/tbody/tr['str(i)']/td[6]")
    k=r[i]
    if k.text is None:
        GDP.append("--")
    else:
        GDP.append(k.text)

In [54]:
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP(19-20)':gsdp_19_20,'GSDP(18-19)':gsdp_18_19,"Share":share,'GDP(in Billions)':GDP})

In [55]:

df.set_index("Rank",inplace=True)

In [56]:
df

,State,GSDP(19-20),GSDP(18-19),Share,GDP(in Billions)
Rank,,,,,
1,Maharashtra,-,"2,632,792",13.88%,398.145
2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
4,Gujarat,-,"1,502,899",7.92%,227.276
5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
7,Rajasthan,"1,020,989","942,586",4.97%,142.543
8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
9,Telangana,"969,604","861,031",4.54%,130.210
10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
11,Kerala,-,"781,653",4.12%,118.206
12,Delhi,"856,112","774,870",4.08%,117.180
13,Haryana,"831,610","734,163",3.87%,111.024
14,Bihar,"611,804","530,363",2.80%,80.204
15,Punjab,"574,760","526,376",2.77%,79.601
16,Odisha,"521,275","487,805",2.57%,73.768
17,Assam,-,"315,881",1.67%,47.769
18,Chhattisgarh,"329,180","304,063",1.60%,45.982
19,Jharkhand,"328,598","297,204",1.57%,44.945
20,Uttarakhand,-,"245,895",1.30%,37.186
21,Jammu & Kashmir,-,"155,956",0.82%,23.584
22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
23,Goa,"80,449","73,170",0.39%,11.065
24,Tripura,"55,984","49,845",0.26%,7.538
25,Chandigarh,-,"42,114",0.22%,6.369
26,Puducherry,"38,253","34,433",0.18%,5.207
27,Meghalaya,"36,572","33,481",0.18%,5.063
28,Sikkim,"32,496","28,723",0.15%,4.344
29,Manipur,"31,790","27,870",0.15%,4.215
30,Nagaland,-,"27,283",0.14%,4.126
31,Arunachal Pradesh,-,"24,603",0.13%,3.721
32,Mizoram,"26,503","22,287",0.12%,3.370
33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.¶

In [62]:
driver.get("https://github.com/")

In [65]:
ex=driver.find_elements_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")

In [66]:
ex[0].click()

In [67]:
box=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div")
p=box[0]

In [68]:
name=p.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
len(name)

25

In [69]:
rep_name=[]
for i in name:
    if i.text is None:
        rep_name.append("-")
    else:
        rep_name.append(i.text)

In [70]:
lang=[]
for i in range(0,25):
    pp=p.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article['str(i)']/div[2]/span[1]")
    kk=pp[i]
    m=kk.text
    if len(m)==0:
        lang.append("--")
    else:
        lang.append(m)

In [71]:

desc=[]
d=driver.find_elements_by_xpath("//article[@class='Box-row']")
for i in range(0,25):
    dd=d[i]
    k=dd.find_elements_by_tag_name('p')
    if len(k)==0:
        desc.append('-')
    else:
        m=k[0]
        desc.append(m.text)

In [72]:
contri_count=[]
for i in range(0,25):
    kk=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']")
    k=kk[i].find_elements_by_tag_name('a')
    if len(k)==0:
        contri_count.append('-')
    else:
        p=k[1]
        contri_count.append(p.text)

In [73]:
df_git=pd.DataFrame({"Repository Name":rep_name,"Language":lang,"Description":desc,"No of Contributors":contri_count})

In [74]:
df_git

,Repository Name,Language,Description,No of Contributors
0,dolthub / dolt,Go,Dolt – It's Git for Data,154
1,sherlock-project / sherlock,Python,🔎 Hunt down social media accounts by username ...,"2,189"
2,nushell / nushell,Rust,A new type of shell,526
3,getzola / zola,Rust,A fast static site generator in a single binar...,453
4,SerenityOS / serenity,C++,The Serenity Operating System 🐞,821
5,openai / CLIP,Jupyter Notebook,Contrastive Language-Image Pretraining,229
6,nasa / fprime,C++,F' - A flight software and embedded systems fr...,743
7,ziglang / zig,Zig,General-purpose programming language and toolc...,677
8,TheAlgorithms / Javascript,JavaScript,A repository for All algorithms implemented in...,"1,713"
9,microsoft / CSS-Exchange,PowerShell,Exchange Server support tools and scripts,82
10,josephmisiti / awesome-machine-learning,Python,A curated list of awesome Machine Learning fra...,"12,208"
11,thunlp / GNNPapers,Built by,Must-read papers on graph neural networks (GNN),"2,054"
12,threat9 / routersploit,Python,Exploitation Framework for Embedded Devices,"1,994"
13,visenger / awesome-mlops,Built by,A curated list of references for MLOps,569
14,ossu / computer-science,Built by,🎓 Path to a free self-taught education in Comp...,"11,202"
15,qmk / qmk_firmware,C,Open-source keyboard firmware for Atmel AVR an...,"18,163"
16,brillout / awesome-react-components,Built by,Curated List of React Components & Libraries.,"2,142"
17,torvalds / linux,C,Linux kernel source tree,"36,071"
18,flutter / flutter,Dart,Flutter makes it easy and fast to build beauti...,"16,433"
19,nodegui / react-nodegui,TypeScript,"Build performant, native and cross-platform de...",128
20,diasurgical / devilutionX,C++,Diablo build for modern operating systems,372
21,projectdiscovery / nuclei-templates,Python,Community curated list of templates for the nu...,388
22,abuanwar072 / Chat-Messaging-App-Light-and-Dar...,Dart,-,43
23,monero-project / monero,C++,"Monero: the secure, private, untraceable crypt...","2,476"
24,ageron / handson-ml2,Jupyter Notebook,A series of Jupyter notebooks that walk you th...,"6,449"

# 6. Scrape the details of top 100 songs on billiboard.com.¶

In [84]:
driver.get("https://www.billboard.com/")

In [86]:

t=driver.find_elements_by_xpath("//*[@id='root']/div[2]/div[2]/nav/ul/li[3]")
t[0].click()

In [87]:
rank=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li['str(i)']/button/span[1]/span[1]")
    p=k[i].text
    rank.append(p)

In [88]:
song=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li['+str(i)']/button/span[2]/span[1]")
    p=k[i].text
    song.append(p)

In [89]:

artist=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li['str(i)']/button/span[2]/span[2]")
    p=k[i].text
    artist.append(p)

In [90]:
peak_rank=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li['+str(i)']/button/div/div[3]")
    p=k[i].text
    peak_rank.append(p)

In [91]:
peak_rank=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li['+str(i)']/button/div/div[3]")
    p=k[i].text
    peak_rank.append(p)

In [92]:
last_week=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li['+str(i)']/button/div/div[2]")
    p=k[i].text
    last_week.append(p)

In [93]:
weeks_on_board=[]
m=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in m:
    if i.text is None:
        weeks_on_board.append('--')
    else:
        weeks_on_board.append(i.text)

In [94]:
df_100=pd.DataFrame({'Rank':rank,'Song Name':song,"Artist":artist,"Peak Rank":peak_rank,"Last Week":last_week,"Weeks On Board":weeks_on_board})

In [95]:
df_100.set_index('Rank',inplace=True)

In [96]:

df_100

,Song Name,Artist,Peak Rank,Last Week,Weeks On Board
Rank,,,,,
1,Drivers License,Olivia Rodrigo,1,1,7
2,Up,Cardi B,2,5,3
3,Go Crazy,Chris Brown & Young Thug,3,8,42
4,34+35,Ariana Grande,17,2,17
5,Blinding Lights,The Weeknd,64,1,64
...,...,...,...,...,...
96,The Business,Tiesto,96,-,1
97,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,97,-,1
98,Monster,Shawn Mendes & Justin Bieber,14,8,14
99,Track Star,Mooski,99,-,1
100,Like I Want You,Giveon,2,95,2

# 7 Scrape the details of Data science recruiters from naukri.com.

In [97]:
driver.get("https://www.naukri.com/")

In [98]:
p=driver.find_elements_by_xpath("//ul[@class='midSec menu']/li[2]/a")

In [99]:
k=p[0]
m=k.get_attribute('href')
driver.get(m)

In [100]:
search_input=driver.find_elements_by_xpath("//div[@class='inpWrap']/input")
search_input[0].send_keys("Data Science")

In [101]:
search_click=driver.find_elements_by_xpath("//*[@id='qsbFormBtn']")
search_click[0].click()

In [102]:
k=driver.find_elements_by_xpath("//p[@class='highlightable']")

In [103]:
len(k)

50

In [104]:
name=[]
for i in range(0,50):
    k=driver.find_elements_by_xpath("//a[@class='ellipsis']/span")
    m=k[i].text
    name.append(m)

In [105]:

desg=[]
for i in range(0,50):
    k=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
    m=k[i].text
    desg.append(m)

In [106]:
comp=[]
for i in range(1,100,2):
    k=driver.find_elements_by_xpath("//a[@class='ellipsis']")
    m=k[i].text
    comp.append(m)

In [107]:
skills=[]
for i in range(0,50):
    k=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    m=k[i].text
    skills.append(m)

In [108]:

loc=[]
for i in range(0,50):
    k=driver.find_elements_by_xpath("//span[2]")
    m=k[i].text
    loc.append(m)

In [109]:
df_ds=pd.DataFrame({"Name":name,"Designation":desg,"Company":comp,"Skills they hire for":skills,"Location":loc})

In [110]:
df_ds

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",Last active on 22-Sep-2018
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",UK - (london)
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Delhi
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Vadodara / Baroda
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Chennai
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Trivandrum
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Indore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Bengaluru / Bangalore
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Hyderabad / Secunderabad
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Bengaluru / Bangalore
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Bhopal
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Hyderabad / Secunderabad
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Delhi
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Hyderabad / Secunderabad
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Bengaluru / Bangalore
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
32,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
33,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Last active on 11-Mar-2019
38,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Bengaluru / Bangalore
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Mumbai
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Indore
41,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Bengaluru / Bangalore
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",MYSORE
43,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Hyderabad / Secunderabad
44,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bengaluru / Bangalore
45,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Mumbai
46,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

# 8. Scrape the details of Highest selling novels.

In [111]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [112]:
book=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr['str(i)']/td[2]")
    p=k[i].text
    book.append(p)

In [113]:

author=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr['str(i)']/td[3]")
    p=k[i].text
    author.append(p)

In [114]:
volumes=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr['str(i)']/td[4]")
    p=k[i].text
    volumes.append(p)

In [115]:

publisher=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr['str(i)']/td[5]")
    p=k[i].text
    publisher.append(p)

In [116]:
genre=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr['str(i)']/td[6]")
    p=k[i].text
    genre.append(p)

In [117]:
df_book=pd.DataFrame({'BOOK':book,"AUTHOR":author,"VOLUME SOLD":volumes,"PUBLISHER":publisher,"GENRE":genre})

In [118]:

df_book

,BOOK,AUTHOR,VOLUME SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.¶

In [119]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [120]:
name=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a")
    p=k[i].text
    name.append(p)

In [121]:
Years=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/span[2]")
    p=k[i].text
    Years.append(p)

In [122]:

genre=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
    p=k[i].text
    genre.append(p)

In [123]:
runtime=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
    p=k[i].text
    runtime.append(p)

In [124]:
rating=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    p=k[i].text
    rating.append(p)

In [125]:
votings=[]
for i in range(0,100):
    k=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div['str(i)']/div[2]/p[4]/span[2]")
    p=k[i].text
    votings.append(p)

In [126]:
df_imdb=pd.DataFrame({"Series":name,"Year":Years,"Genre":genre,"Runtime":runtime,"Ratings":rating,"Votings":votings})

In [127]:
df_imdb

,Series,Year,Genre,Runtime,Ratings,Votings
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,779,620"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"829,973"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"857,403"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,402"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,948"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,790"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,136"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,436"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,223"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"184,136"

# 10. Details of Datasets from UCI machine learning repositories.

In [136]:
driver.get("https://archive.ics.uci.edu/")

In [137]:

k=driver.find_elements_by_xpath("//span[@class='normal']/b/a")

In [138]:
p=k[0]
m=p.get_attribute('href')

In [139]:
driver.get(m)

In [141]:
name=[]
for i in range(1,586):
    k=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]")
    m=k[i].text
    name.append(m)

In [ ]:
dt=[]
for i in range(1,586):
    k=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    if k[i].text is None:
        dt.append('--')
    else:
        dt.append(k[i].text)

In [ ]:
task=[]
for i in range(1,586):
    k=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    m=k[i].text
    task.append(m)

In [ ]:
at_type=[]
for i in range(1,586):
    k=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    m=k[i].text
    at_type.append(m)

In [ ]:
inst=[]
for i in range(1,586):
    k=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    m=k[i].text
    inst.append(m)

In [ ]:
attri=[]
for i in range(1,586):
    k=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    m=k[i].text
    attri.append(m)

In [ ]:
year=[]
for i in range(1,586):
    k=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    m=k[i].text
    year.append(m)

In [ ]:
df_uci=pd.DataFrame({"Name":name,"Data Type":dt,"Task":task,"Attribute Type":at_type,"Instances":inst,"Attributes":attri,"Year":year})

In [ ]:
df_uci